[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
convert = "pipenv run python tools/convert_py2to3.py"
